#content.page-content

  .page-header
    a.deploy-sidebar(href="#")
    img.header-logo(src="client/images/misc/logo-header.png", width="71" alt="img")
    a.deploy-contract(href="#")

  .page-header-clear

  .content
    .container.no-bottom
    - each item in items
      .one-half-responsive
        - var data = item.data;
        
        - if(data)
          a(href="javascript:viewItem('#{data.title}', '#{data.type}', '#{data.image}', '#{data.text}', '#{data.url}')")
            .thumb-left.no-bottom
              strong #{item.title}

      .decoration.hide-if-responsive

  .decoration
  p.copyright.uppercase.center-text.no-bottom.
    copyright 2014<br> 上海人口和计划生育

