#content.page-content
  - console.log('count ', count);
  - start = parseInt(start);
  - var prevPage = (start-20)<0?0:start-20;
  - var nextPage = (start+20)>count?count:start+20;
  - var prevEnabled = start > 0;
  - console.log('===> start + 20', start+20);
  - var nextEnabled = (start + 20) < count;
  - var prevPageCls = prevEnabled?'prev-page':'prev-page disabled';
  - var nextPageCls = nextEnabled?'next-page':'next-page disabled';
  - var path = q?'/search':'/index';
  - var prevHref = prevEnabled?path+'?page='+page+'&start='+prevPage+'&q='+q: '#';
  - var nextHref = nextEnabled?path+'?page='+page+'&start='+nextPage+'&q='+q: '#';

  .page-header
    a.deploy-sidebar(href="#")
    img.header-logo(src="client/images/misc/logo-header.png", width="71" alt="img")
    a.deploy-contract(href="#")

  .page-header-clear

  .content
    .container.no-bottom
    - each item in items
      .one-half-responsive
        - var data = item.data;
        
        - if(data)
          a(href="javascript:viewItem('#{data.title}', '#{data.type}', '#{data.image}', '#{data.text}', '#{data.url}')")
            .thumb-left.no-bottom
              strong #{item.title}

      .decoration

  .paging-container
    a(href="#{prevHref}")(class='#{prevPageCls}')
      上一页
    a(href="#{nextHref}")(class='#{nextPageCls}')
      下一页
  p.copyright.uppercase.center-text.no-bottom.
    copyright 2014<br> 上海人口和计划生育

